/* CSS Gesture4ALL */

html{
    margin: 10px;
    padding: 0;
    border: 3;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #666161;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.75;
    background: #ffffff;
}

#header .logo {
      display: block;
      border-bottom: 0;
      color: inherit;
      font-weight: 600;
      letter-spacing: 0.20em;
      margin: 0 0 0 0;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
}

#header .logo > * {
        display: inline-block;
        vertical-align: middle;
}

#header .logo .symbol {
        margin-right: 0.65em;
}

#header .logo .symbol img {
          display: block;
          width: 2.5em;
          height: 2.5em;
}
video {
      width: 50%;
      height: auto;
}